<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container my-3">

    <div class="loginForm container text-center">
        <table class="main1">
            <tr>
                <th>아이디</th>
                <td><input type="text" id="memberId"/></td>
            </tr>
            <tr>
                <th>비밀번호</th>
                <td><input type="password" id="memberPw"/></td>
            </tr>
        </table>
        <input type="button" class="btn btn-primary" onclick="loginAction();" value="로그인"/>
        <br><br><br><br><br>

    </div>

    <script>
        function loginAction(){
            fetch("http://localhost:8080/user/login",{
                method: "POST",
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify({
                    memberId: document.getElementById("username").value,
                    memberPw: document.getElementById("password").value
                })
            })
            .then((response) => {
                return response.json();
            })
            .then((json) => {
                if(json.result == "ok") {
                    alert("로그인되었습니다.");
                    location.href="/";
                } else if(json.result == "onlyId") {
                    alert("비밀번호가 다릅니다.");
                    document.getElementById("memberPw").value = "";
                } else {
                    alert("아이디가 존재하지 않습니다.");
                    document.getElementById("memberId").value = "";
                    document.getElementById("memberPw").value = "";
                }
            })
        }
    </script>
</div>

</body>
</html>